<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:aop = "http://www.springframework.org/schema/aop"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop
   		http://www.springframework.org/schema/aop/spring-aop.xsd
        ">

    <bean id="coordsBean1"
          class="org.example.Coords"
          scope="prototype">
        <constructor-arg index="0" value="15"/>
        <constructor-arg index="1" value="18"/>
    </bean>
    <bean id="coordsBean2"
          class="org.example.Coords"
          scope="prototype">
        <constructor-arg index="0" value="25"/>
        <constructor-arg index="1" value="28"/>
    </bean>
    <bean id="coordsBean3"
          class="org.example.Coords"
          scope="prototype">
        <constructor-arg index="0" value="35"/>
        <constructor-arg index="1" value="38"/>
    </bean>
    <bean id="circleBean1"
          class="org.example.Circle"
          scope="prototype"
    >
        <constructor-arg index="0" ref="coordsBean1"/>
        <constructor-arg index="1" value="10"/>
        <constructor-arg name="color" value="Red" />
    </bean>
    <bean id="circleBean2"
          class="org.example.Circle"
          scope="prototype"
    >
        <constructor-arg index="0" ref="coordsBean2"/>
        <constructor-arg index="1" value="20"/>
        <constructor-arg name="color" value="Blue" />
    </bean>
    <bean id="circleBean3"
          class="org.example.Circle"
          scope="prototype"
    >
        <constructor-arg index="0" ref="coordsBean3"/>
        <constructor-arg index="1" value="30"/>
        <constructor-arg name="color" value="White" />
    </bean>
    <bean id="pointBean1"
          class="org.example.Point"
          scope="prototype"
    >
        <constructor-arg ref="coordsBean1"/>
        <constructor-arg name="color" value="Yellow" />
    </bean>
    <bean id="pointBean2"
          class="org.example.Point"
          scope="prototype"
    >
        <constructor-arg ref="coordsBean2"/>
        <constructor-arg name="color" value="Black" />
    </bean>
    <bean id="graphStationBean"
          class="org.example.GraphStation">
          <property name="graphObjectList">
              <list>
                  <ref bean="circleBean1" />
                  <ref bean="pointBean1" />
                  <ref bean="circleBean2" />
                  <ref bean="circleBean3" />
                  <ref bean="pointBean2" />
              </list>
          </property>
    </bean>

</beans>